* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f2e9;
  color: #4b451b;
}

body {
  overflow-x: hidden;
}

nav {
  position: static;
  padding-bottom: 1rem;
  top: 0%;
  width: 100%;
  text-align: center;
}

h1 {
  margin-left: 10rem;
  margin-right: 10rem;
}

a {
  transition-duration: 0.4s;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(91, 162, 255);
  text-decoration: underline;
}

.text-center {
  text-align: center;
}
