body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

.bg-1 {
  position: fixed;
  height: 100%;
  background-color: rgb(123, 218, 255);
}

.bg-2 {
  position: static;
  height: 40rem;
  background-color: rgb(255, 230, 184);
}
