@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}

.code-font {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.row > * {
  padding: 0 !important;
}

.code-font-bold {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.overflow-x {
  overflow-x: hidden;
}

.overflow {
  overflow: hidden;
}

.c-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(1rem) brightness(0.4);
}

.carousel-inner {
  width: 100vw;
  height: 100vh;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-border {
  border: none !important;
}
